<main class="min-h-screen bg-black">
  <div class="player-flash-stack fixed z-50 space-y-2">
    <.flash flash={@flash} kind={:info} position_class="relative" />
    <.flash flash={@flash} kind={:error} position_class="relative" />
  </div>
  {@inner_content}
</main>
